<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>model</title>
</head>

<body ng-controller="NameCtrl">
    <input type="text" ng-model="name">
    <div>{{name}}</div>
    <a href="javascript:void(0);" ng-click="getRandomName()">换个名字</a>
    <script src="../assets/vendor/angular.js"></script>
    <script>
    angular.module("app", []);
    angular.module("app")
        .controller("NameCtrl", ['$scope', function($scope) {
            $scope.names = ['joel', 'jack', 'jimmy', 'john'];
            $scope.getRandomName = function() {
                var index = Math.floor($scope.names.length * Math.random());
                $scope.name = $scope.names[index];
            }
            $scope.getRandomName();
        }]);
    </script>
</body>

</html>
