<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>repeat</title>
</head>

<body ng-controller="PhoneListCtrl">
    遍历数组
    <ul>
        <li ng-repeat="phone in phones">
            {{phone.name}}
            <p>{{phone.snippet}}</p>
        </li>
        <!-- 当数组中有重复的基本元素时会报错，要用  track by $index -->
        <li ng-repeat="item in [1,5,6,1] track by $index">
            {{item}}
        </li>
    </ul>
    遍历对象
    <ul>
        <li ng-repeat="(key, val) in obj">
            {{key}}: {{val}}
        </li>
    </ul>
    <script src="../assets/vendor/angular.js"></script>
    <script>
    angular.module("app", []);
    angular.module("app").controller("PhoneListCtrl", ["$scope", function($scope) {
        $scope.phones = [{
            name: '三星',
            snippet: '三星手机'
        }, {
            name: 'iphone',
            snippet: 'iphone手机'
        }];

        $scope.obj = {
            name: '荔枝',
            type: '水果',
            price: '￥12'
        }
    }]);
    </script>
</body>

</html>
